<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login Cliente</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Entrar</button> 
        
        <!-- Botão para mostrar/esconder a senha -->
        <button type="button" id="show-password-btn">Mostrar Senha</button>
    </form>
    <p>Ainda não tem uma conta? <a href="{% url 'registrar' %}">Cadastre-se</a></p>

    <script>
        // Script para alternar a visibilidade da senha
        document.getElementById('show-password-btn').addEventListener('click', function() {
            var senhaField = document.getElementById('id_senha');
            if (senhaField.type === 'password') {
                senhaField.type = 'text';
                this.textContent = 'Esconder Senha';
            } else {
                senhaField.type = 'password';
                this.textContent = 'Mostrar Senha';
            }
        });
    </script>
</body>
</html>
