<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load i18n %}
    <title>{% trans "Cadastro de Endereço" %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static './static/style.css' %}">
</head>
<body>
    <header id="topo">
        <nav class="cabecalho">
            <ul class="cabecalho__menu">
                <li class="cabecalho__menu__item"><a class="cabecalho__menu__link" href="{% url 'home' %}">Home</a></li>
                <li class="cabecalho__menu__item"><a class="cabecalho__menu__link" href="{% url 'conta' %}">{% trans "Conta" %}</a></li>
                <li class="cabecalho__menu__item"><a class="cabecalho__menu__link" href="{% url 'perfil' %}">{% trans "Perfil" %}</a></li>
            </ul>
            <span class="app-name">Bank<span class="highlight">O!</span></span>
        </nav>
    </header>

    <div class="main-container">
        <h1>{% trans "Cadastro de Endereço" %}</h1>
        <form method="POST" class="form-endereco">
            {% csrf_token %}
            <div class="form-group">
                <label for="rua">{% trans "Rua" %}</label>
                {{ form.rua }}
            </div>
            <div class="form-group">
                <label for="numero">{% trans "Número" %}</label>
                {{ form.numero }}
            </div>
            <div class="form-group">
                <label for="bairro">{% trans "Bairro" %}</label>
                {{ form.bairro }}
            </div>
            <div class="form-group">
                <label for="cidade">{% trans "Cidade" %}</label>
                {{ form.cidade }}
            </div>

            <div class="form-group">
                <label for="estado">{% trans "Estado" %}</label>
                <select name="estado" id="id_estado" class="input-select">
                    {% for estado in form.estado.field.choices %}
                        <option value="{{ estado.0 }}" {% if estado.0 == form.estado.value %}selected{% endif %}>
                            {{ estado.1 }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="cep">{% trans "CEP" %}</label>
                {{ form.cep }}
            </div>

            <button type="submit" class="button">{% trans "Salvar Endereço" %}</button>
        </form>

        <br>
        <a href="{% url 'perfil' %}" class="button">{% trans "Voltar ao Perfil" %}</a>
    </div>

    <!-- Comutador de Idiomas -->
    <div class="language-switcher">
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% for lang_code, lang_name in LANGUAGES %}
                    <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                        {{ lang_name }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit">{% trans "Mudar Idioma" %}</button>
        </form>
    </div>

    <!-- Rodapé -->
    <footer class="rodape">
        <span class="app-name">Bank<span class="highlight">O!</span></span>
        <p class="rodape_texto">Desenvolvido por Cozta1.</p>
    </footer>
</body>
</html>
