<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load i18n %} <!-- Carrega o módulo de internacionalização -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Conta" %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static './static/style.css' %}"> <!-- Link para o arquivo de estilo CSS -->
    
    <script>
        function toggleNotifications() {
            const notificationsSection = document.getElementById('noti-section');
            notificationsSection.style.display = notificationsSection.style.display === 'none' || notificationsSection.style.display === '' ? 'block' : 'none';
        }
    </script>

</head>

<body>
    <header id="topo">
        <nav class="cabecalho">
            <ul class="cabecalho__menu">
                <li class="cabecalho__menu__item"><a class="cabecalho__menu__link" href="{% url 'home' %}">Home</a></li>
                <li class="cabecalho__menu__item"><a class="cabecalho__menu__link__ativo" href="{% url 'conta' %}">{% trans "Conta" %}</a></li>
                <li class="cabecalho__menu__item"><a class="cabecalho__menu__link" href="{% url 'perfil' %}">{% trans "Perfil" %}</a></li>
            </ul>
            <span class="app-name">Bank<span class="highlight">O!</span></span>
        </nav>
    </header>

    <!-- Conteúdo principal -->
    <div class="main-container">
        <h1 class="text-center">{% trans "Conta" %}</h1>

        <!-- Bloco de Informações do Usuário -->
        <div class="profile-info text-center">
            <div class="photo-container">
                {% if user.foto %}
                    <a href="{% url 'perfil' %}"><img src="{{ user.foto.url }}" alt="{% trans 'Foto do Usuário' %}" class="user-photo"></a>
                {% else %}
                    <div class="placeholder">A</div> <!-- Placeholder com a inicial do nome -->
                {% endif %}
            </div>
            <div class="name-container">
                <p>{{ user.first_name }} {{ user.last_name }}</p>
            </div>
        </div>

        <!-- Botão de Notificações centralizado -->
        <div class="button-container">
            <button class="button" onclick="toggleNotifications()">{% trans "Ultimas Transações" %}</button>
        </div>

        <!-- Seção de Notificações -->
        <div id="noti-section" class="cards-section">
            {% if notificacoes %}
                <ul>
                    {% for notificacao in notificacoes %}
                        <li>{{ notificacao.mensagem }} - {{ notificacao.dataHora|date:"d/m/Y H:i" }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans "Não há notificações." %}</p>
            {% endif %}
        </div>

        <!-- Botões Centralizados -->
        <div class="button-container text-center">
            <a href="{% url 'transacao' %}" class="button">{% trans "Realizar Transação" %}</a>
            <button class="button" onclick="toggleCards()">{% trans "Meus Cartões" %}</button>
        </div>

        <!-- Seção de Cartões -->
        <div id="cards-section" class="cards-section text-center">
            <h3>{% trans "Cartões" %}</h3>
            {% if cartoes %}
                <ul>
                    {% for cartao in cartoes %}
                        <li>{{ cartao.bandeira }} - {{ cartao.numeroCartao }} - {% trans "Validade" %}: {{ cartao.dataExpiracao }} - CVV: {{ cartao.cvv }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans "Você ainda não tem nenhum cartão." %}</p>
            {% endif %}
            <a href="{% url 'solicitar_cartao' %}" class="button">{% trans "Solicitar Novo Cartão" %}</a>
        </div>
        
        <!-- Comutador de Idiomas -->
        <div class="language-switcher text-center">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% for lang_code, lang_name in LANGUAGES %}
                        <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                            {{ lang_name }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit">{% trans "Mudar Idioma" %}</button>
            </form>
        </div>
    </div> <!-- Fim do main-container -->

    <!-- Rodapé -->
    <footer class="rodape text-center">
        <span class="app-name">Bank<span class="highlight">O!</span></span>
        <p class="rodape_texto">Desenvolvido por Cozta1.</p>
    </footer>

    <script>
        function toggleCards() {
            const cardsSection = document.getElementById('cards-section');
            cardsSection.style.display = cardsSection.style.display === 'none' || cardsSection.style.display === '' ? 'block' : 'none';
        }
    </script>
</body>
</html>
