<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load i18n %} <!-- Carregar o módulo de internacionalização -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Login" %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static './static/style.css' %}">
</head>
<body>

    <div class="main-container">
        <h1>{% trans "Login" %}</h1>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_CPF">{% trans "CPF" %}</label>
                {{ form.CPF }}
            </div>
            <div class="form-group">
                <label for="id_password">{% trans "Senha" %}</label>
                {{ form.password }}
            </div>
            <button type="submit" class="button">{% trans "Entrar" %}</button>

            {% if form.non_field_errors %}
                <div class="error">
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </form>

        <div class="login-link">
            <p>{% trans "Ainda não tem uma conta?" %} <a href="{% url 'registro' %}" class="back-btn">{% trans "Cadastre-se!" %}</a></p>
        </div>
        {% comment %} <a href="{% url 'registro' %}" class="back-btn">{% trans "Ainda não tem uma conta? Cadastre-se!" %}</a> {% endcomment %}

        <!-- Comutador de Idiomas -->
        <div class="language-switcher">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% for lang_code, lang_name in LANGUAGES %}
                        <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                            {{ lang_name }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit">{% trans "Mudar Idioma" %}</button>
            </form>
        </div>
    </div>

    <!-- Rodapé -->
    <footer class="rodape">
        <span class="app-name">Bank<span class="highlight">O!</span></span>
        <p class="rodape_texto">Desenvolvido por Cozta1.</p>
    </footer>
</body>
</html>
