<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load i18n %} <!-- Carrega o módulo de internacionalização -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Perfil" %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static './static/style.css' %}">

    <script>
        function toggleNotifications() {
            const notificationsSection = document.getElementById('cards-section');
            notificationsSection.style.display = notificationsSection.style.display === 'none' || notificationsSection.style.display === '' ? 'block' : 'none';
        }
    </script>
</head>

<body>
    <header id="topo">
        <nav class="cabecalho">
            <ul class="cabecalho__menu">
                <li class="cabecalho__menu__item"><a class="cabecalho__menu__link" href="{% url 'home' %}">Home</a></li>
                <li class="cabecalho__menu__item"><a class="cabecalho__menu__link" href="{% url 'conta' %}">{% trans "Conta" %}</a></li>
                <li class="cabecalho__menu__item"><a class="cabecalho__menu__link__ativo" href="{% url 'perfil' %}">{% trans "Perfil" %}</a></li>
            </ul>
            <span class="app-name">Bank<span class="highlight">O!</span></span>
        </nav>
    </header>

    <!-- Conteúdo principal -->
    <div class="main-container">
        <h1>{% trans "Perfil do Usuário" %}</h1>
        
        <!-- Bloco de informações do usuário -->
        <div class="profile-info">
            {% if cliente.foto %}
                <img src="{{ cliente.foto.url }}" alt="{% trans 'Foto de' %} {{ cliente.get_full_name }}">
            {% else %}
                <img src="https://via.placeholder.com/120" alt="{% trans 'Foto de' %} {{ cliente.get_full_name }}">
            {% endif %}
            
            <p><span class="highlight">{% trans "Nome" %}:</span> {{ cliente.first_name }} {{ cliente.last_name }}</p>
            <p><span class="highlight">{% trans "Email" %}:</span> {{ cliente.email }}</p>
            <p><span class="highlight">{% trans "CPF" %}:</span> {{ cliente.CPF }}</p>
        </div>

        <!-- Botão de Notificações centralizado -->
        <div class="button-container">
            <button class="button" onclick="toggleNotifications()">{% trans "Exibir Notificações" %}</button>
        </div>

        <!-- Seção de Notificações -->
        <div id="cards-section" class="cards-section">
            <h3>{% trans "Notificações" %}</h3>
            {% if notificacoes %}
                <ul>
                    {% for notificacao in notificacoes %}
                        <li>{{ notificacao.mensagem }} - {{ notificacao.dataHora|date:"d/m/Y H:i" }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans "Não há notificações." %}</p>
            {% endif %}
        </div>

        <!-- Bloco de Endereços -->
        <div class="enderecos-lista">
            <h3>{% trans "Endereços" %}</h3>
            {% if cliente.enderecos.all %}
                <ul>
                    {% for endereco in cliente.enderecos.all %}
                        <li>
                            <p>{{ endereco.rua }} - {{ endereco.numero }} - {{ endereco.bairro }} - {{ endereco.cidade }} - {{ endereco.estado }} - {{ endereco.cep }}</p>
                            <form method="POST" action="{% url 'excluir_endereco' endereco.id %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="button delete-button">{% trans "Excluir" %}</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans "Você ainda não possui nenhum endereço cadastrado." %}</p>
            {% endif %}
        </div>

        <!-- Botão para Adicionar Novo Endereço -->
        <div class="add-endereco">
            <a href="{% url 'cadastrar_endereco' %}" class="button">{% trans "Adicionar Novo Endereço" %}</a>
        </div>

        <!-- Bloco de Contas -->
        <div class="contas-lista">
            <h3>{% trans "Contas" %}</h3>
            {% if contas %}
                <ul>
                    {% for conta in contas %}
                        <li>
                            <p>{% trans "Número da conta" %}: {{ conta.numeroConta }} - {% trans "Agência" %}: {{ conta.agencia.nomeagencia }} 
                            <span class="saldo-info">{% trans "Saldo" %}: R$ {{ conta.saldo }}</span></p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans "Você ainda não tem nenhuma conta." %}</p>
            {% endif %}
        </div>

        <!-- Botão para Abrir Nova Conta -->
        <div class="add-endereco">
            <a href="{% url 'selecionar_agencia' %}" class="button">{% trans "Abrir Nova Conta" %}</a>
        </div>

        <a href="{% url 'logout' %}" class="button">{% trans "Sair" %}</a>
        
        <!-- Comutador de Idiomas -->
        <div class="language-switcher">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% for lang_code, lang_name in LANGUAGES %}
                        <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                            {{ lang_name }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit">{% trans "Mudar Idioma" %}</button>
            </form>
        </div>
        
    </div> <!-- Fim do main-container -->

    <!-- Rodapé -->
    <footer class="rodape">
        <span class="app-name">Bank<span class="highlight">O!</span></span>
        <p class="rodape_texto">Desenvolvido por Cozta1.</p>
    </footer>
</body>
</html>
