<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load i18n %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Cadastro" %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static './static/style.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="content">
            <h1>{% trans "Cadastro" %}</h1>

            <!-- Exibição de Mensagens de Erro ou Sucesso -->
            {% if messages %}
                {% for message in messages %}
                    <div class="{% if message.tags == 'success' %}success-message{% else %}error-message{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="post" enctype="multipart/form-data" class="form-endereco">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="username">{% trans "Usuário" %}</label>
                    {{ form.username }}
                </div>

                <div class="form-group">
                    <label for="CPF">{% trans "CPF" %}</label>
                    {{ form.CPF }}
                </div>

                <div class="form-group">
                    <label for="first_name">{% trans "Nome" %}</label>
                    {{ form.first_name }}
                </div>

                <div class="form-group">
                    <label for="last_name">{% trans "Sobrenome" %}</label>
                    {{ form.last_name }}
                </div>

                <div class="form-group">
                    <label for="email">{% trans "E-Mail" %}</label>
                    {{ form.email }}
                </div>

                <div class="form-group">
                    <label for="telefone">{% trans "Telefone" %}</label>
                    {{ form.telefone }}
                </div>

                <div class="form-group">
                    <label for="foto">{% trans "Foto" %}</label>
                    {{ form.foto }}
                </div>

                <div class="form-group">
                    <label for="password1">{% trans "Senha" %}</label>
                    {{ form.password1 }}
                </div>

                <div class="form-group">
                    <label for="password2">{% trans "Confirmação de senha" %}</label>
                    {{ form.password2 }}
                </div>

                <button type="submit" class="button">{% trans "Cadastrar" %}</button>
            </form>
            
            <!-- Formulário para Trocar o Idioma -->
            <div class="language-switcher">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% for lang_code, lang_name in LANGUAGES %}
                            <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                                {{ lang_name }}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="submit">{% trans "Mudar Idioma" %}</button>
                </form>

                                <!-- Link para a página de login -->
                <div class="login-link">
                    <p>{% trans "Já possui uma conta?" %} <a href="{% url 'login' %}">{% trans "Faça login!" %}</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Rodapé -->
    <footer class="rodape">
        <span class="app-name">Bank<span class="highlight">O!</span></span>
        <p class="rodape_texto">Desenvolvido por Cozta1.</p>
    </footer>
</body>
</html>
