<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load i18n %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Seleção de Agência" %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static './static/style.css' %}">

</head>
<body>
    <header id="topo">
        <nav class="cabecalho">
            <ul class="cabecalho__menu">
                <li class="cabecalho__menu__item"><a class="cabecalho__menu__link" href="{% url 'home' %}">Home</a></li>
                <li class="cabecalho__menu__item"><a class="cabecalho__menu__link__ativo" href="{% url 'conta' %}">{% trans "Conta" %}</a></li>
                <li class="cabecalho__menu__item"><a class="cabecalho__menu__link" href="{% url 'perfil' %}">{% trans "Perfil" %}</a></li>
            </ul>
            <span class="app-name">Bank<span class="highlight">O!</span></span>
        </nav>
    </header>


    <div class="main-container">
        <h1>{% trans "Seleção de Agência" %}</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="agencia">{% trans "Escolha a Agência" %}</label>
            <select name="agencia" id="agencia" required class="input-select">
                <option value="" disabled selected>{% trans "Selecione uma Agência" %}</option>
                {% for agencia in agencias %}
                    <option value="{{ agencia.numeroagencia }}">
                        {{ agencia.nomeagencia }} - {{ agencia.endereco.rua }}, {{ agencia.endereco.cidade }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit" class="button">{% trans "Criar Nova Conta" %}</button>
        </form>
        <a href="{% url 'perfil' %}" class="button">{% trans "Voltar ao Perfil" %}</a>
    </div>

    <!-- Rodapé -->
    <footer class="rodape">
        <span class="app-name">Bank<span class="highlight">O!</span></span>
        <p class="rodape_texto">Desenvolvido por Cozta1.</p>
    </footer>
</body>
</html>
