<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load i18n %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar Novo Cartão</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './static/style.css' %}"> 
</head>
<body>
    <header id="topo">
        <nav class="cabecalho">
            <ul class="cabecalho__menu">
                <li class="cabecalho__menu__item"><a class="cabecalho__menu__link" href="{% url 'home' %}">Home</a></li>
                <li class="cabecalho__menu__item"><a class="cabecalho__menu__link__ativo" href="{% url 'conta' %}">{% trans "Conta" %}</a></li>
                <li class="cabecalho__menu__item"><a class="cabecalho__menu__link" href="{% url 'perfil' %}">{% trans "Perfil" %}</a></li>
            </ul>
            <span class="app-name">Bank<span class="highlight">O!</span></span>
        </nav>
    </header>

    <div class="main-container">
        <h1>Solicitar Novo Cartão</h1>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="conta">Escolha a Conta Associada:</label>
                <select name="conta" id="conta" required class="input-select">
                    {% for conta in contas %}
                        <option value="{{ conta.numeroConta }}">Numero da conta: {{ conta.numeroConta }} - Agencia: {{ conta.agencia.nomeagencia }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="bandeira">Escolha a Bandeira do Cartão:</label>
                <select name="bandeira" id="bandeira" required class="input-select">
                    <option value="visa">Visa</option>
                    <option value="mastercard">MasterCard</option>
                    <option value="elo">Elo</option>
                </select>
            </div>

            <button type="submit" class="button">Solicitar Cartão</button>
        </form>

        {% if cartao_solicitado %}
            <div class="success-message">
                Cartão solicitado com sucesso! Número do cartão: {{ cartao_solicitado.numeroCartao }}. 
                Expiração: {{ cartao_solicitado.dataExpiracao }}.
            </div>
        {% endif %}

        <br>
        <a href="{% url 'home' %}" class="button">Home</a>
    </div>

    <!-- Rodapé -->
    <footer class="rodape text-center">
        <span class="app-name">Bank<span class="highlight">O!</span></span>
        <p class="rodape_texto">Desenvolvido por Cozta1.</p>
    </footer>
</body>
</html>